.titulo{
        font-size: 65px;
        text-align: center;
        color: #66165B;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}        

.kobe1{
        color: #66165B;
        font-size: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
        font-size: 35px;
}

body{
        background-color: yellow;
}

#kobe{
        font-size: 40px;
}