*{
    margin: 0px;
    padding: 0px;
}
#cabecera{
    flex: 1 ;
    display: flex;
    justify-content: center;
    width: 88px;
    height: 60px;
    padding: 50px 49%;
    background-color: rgb(1, 55, 116);
    color: aliceblue;
}
#menuprincipal {
    display: flex;
    justify-content: center;
    width: 96%;
    height: 50px;
    padding: 0% 2%;
    background-color: #33e9e0;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
#menuprincipal > div {
flex: 1;
width: 960px;
}
#menuprincipal li {
    display: inline-block;
    height: 35px;
    padding: 15px 10px 0px 20px;
    margin-right: 5px;
}
#menuprincipal li:hover {
    background-color: #0011ff;
}
#menuprincipal li a {
    text-decoration: none;
    color: rgb(234, 0, 255);
}
#menuprincipal li a:hover {
    text-decoration: none;
}
